.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: beige;


}

.openmodal{

  padding: 10px;
  background-color: brown;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
}